
/*****************************
GENERAL
*****************************/

body{
	font-family: 'Permanent Marker', cursive;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a{
	text-decoration: none;
}

img {
	/*Tells images to fill the width of their parent container
	If container skrinks, image will also.*/
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
}


/*****************************
HEADING
*****************************/
header {
	/*Helps with desktop layout*/
	float: left;
	/*Top right bottom left*/
	margin: 0 0 30px 0;
	/*Separates teext without removing margin from top of 
	page*/
	padding: 5px 0 0 0;
	/*So element stretches across entire page*/
	width: 100%;
}

#logo{
	text-align: center;
	margin: 0;
}

h1{
	font-family:'Calligraffitti', cursive;
	margin: 15px 0;
	/*Font size is relative to default font 
	size in the browser (its a multiplier)*/
	font-size: 1.75em;
	/*Headers are bold by default. This unbolds it*/
	font-weight: normal;
	/*The spacing between lines*/
	line-height: 0.8em;
}

h2{
	/*Header height*/
	font-family:'Homemade Apple', cursive;
	font-size: 0.75em;
	/*The first value sets the top. 
	Second: left and right
	Third: Bottom
	Negative makes elements tighter together
	Original: -5*/
	margin: -15px 0 0;
	font-weight: normal;
}




/*****************************
NAVIGATION
*****************************/
nav{
	font-family: 'Homemade Apple', cursive;
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px
	padding: 0;
}

nav li{
	/*Every element has a display property
	default is either set to block or inline*/
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}



/*****************************
FOOTER
*****************************/
footer{
	font-size: 0.75em;
	text-align: center;
	/*clear helps make the footer independent of anything
	other*/
	clear: both;
	padding-top: 50px;
	color: #ccc;
}

.social-icon{
	width: 20px;
	height: 20px;
	margin: 0 5px;
}



/*****************************
PAGE: CONTACT
*****************************/
.contact-info{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a{
	/*Each image will take up space*/
	display: block;
	/*minium height of each item is 20px*/
	min-height: 20px;
	/*Background images in css repeat by default so 
	must set to no-repeast*/
	background-repeat: no-repeat;
	/*Sizing down*/
	background-size: 20px 20px;
	/*Set the padding, extra space for elements left 
	side because that's where our images will go*/
	padding: 0 0 0 30px;
	/*Give images separation from bottom*/
	margin: 0 0 10px;
}

.contact-info li.phone a{
	/*The two dots navigate out of css folder*/
	background-image: url('../img/phone.png');
}

.contact-info li.mail a{
	/*The two dots navigate out of css folder*/
	background-image: url('../img/mail.png');
}

/*****************************
COLORS
*****************************/

/* Site body */
body{
	background-color: #fff;/* Set color to white*/
	color: #000; /* Set color to grey*/
}

/* Green header */
header{
	background-image: url(../img/wood4.jpg)
}

/* Color for nav link*/
nav{
	background: none;
}

/* Logo text */
h1, h2 {
	color: #fff;
}

/* Links */
a{
	color: #4CAF50;
}

/* Nav link*/
nav a, nav a:visited{
	color: #fff;
}

/* Selected nav link*/
nav a.selected, nav a:hover{
	color: #4CAF50;
}